<div class="container pt-5">
  <div class="row">
    <div class="col text-right">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
        新規投稿
      </button>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col offset-2 posts">
      <div class="main-items mx-auto">
        <%= render 'posts', posts: @posts %>
      </div>
    </div>
    <div class="col-2">
      <h4>いいね TOP5</h4>
        <% @favorites_ranks.each do |rank| %>
        <div class="card mb-3" style="width: 20rem;">
          <%= link_to post_path(rank.id) do %>
            <%= attachment_image_tag rank, :image ,class: "card-img-top", size:'150x225' %>
          <% end %>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%=simple_format rank.introduction %></li>
              <li class="list-group-item text-success">♥<%= rank.favorites.count %>件のいいね</li>
              <li class="list-group-item text-dark"><%= rank.comments.count %>件のコメント</li>
            </ul>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3 offset-5">
      <div class="mx-auto">
        <%= paginate @posts %>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">新規投稿</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container">
        <div id="basketball">
          <%= render partial: "form", locals: { newpost: @newpost }%>
        </div>
      </div>
    </div>
  </div>
</div>