<div class="container-fluid mt-5" style="width: 40rem;">
  <div class="card">
    <div class="card-header">
      <% if @post.user.id == current_user.id %>
        <%= link_to user_my_page_path do %>
          <%= attachment_image_tag @post.user, :icon, :fill,60, 60, fallback: "no_image.jpg", size:'60x60', class: "mt-3 rounded-circle" %>
        <% end %>
        <h6 class="text-dark"><%= link_to @post.user.nickname, user_my_page_path %></h6>
      <% else %>
        <%= link_to user_path(@post.user.id) do %>
          <%= attachment_image_tag @post.user, :icon, :fill,60, 60, fallback: "no_image.jpg", size:'60x60', class: "mt-3 rounded-circle" %>
        <% end %>
        <h6 class="text-dark"><%= link_to @post.user.nickname, user_path(@post.user.id) %></h6>
      <% end %>
    </div>
    <div class="card-body">
      <div class="text-center">
        <%= attachment_image_tag @post, :image, class: "card-img-top", size:'300x450' %>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><h3><%= @post.name %></h3></li>
      <li class="list-group-item"><%= simple_format @post.introduction %></li>
    </ul>
    <div class="card-footer">
      <% if user_signed_in? %>
        <% if @post.favorited_by?(current_user) %>
          <h6>
            <%= link_to post_favorite_path(@post), method: :delete do %>
              <h6 class="text-success">♥<%= @post.favorites.count %> いいね</h6>
            <% end %>
          </h6>
        <% else %>
          <h6>
            <%= link_to post_favorites_path(@post), method: :post do %>
              <h6 class="text-success">♡<%= @post.favorites.count %> いいね</h6>
            <% end %>
          </h6>
        <% end %>
        <% else %>
          <h6 class="text-success">♡<%= @post.favorites.count %>件のいいね</h6>
      <% end %>
    </div>
  </div>
</div>

<% if user_signed_in? %>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col offset-4">
      <%= form_with model:[@post, @comment], local:true do |f| %>
      <%= f.text_area :comment,size: "73x5" %>
      <%= f.submit '送信' %>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<div class="container-fluid mt-5 mb-5">
  <div class="row">
    <div class="col-4 offset-4">
      <table>
        <thead>
          <tr>
            <h3 class="border-bottom">コメント</h3>
          </tr>
        </thead>
        <% @comments.each do | comment | %>
        <tbody>
          <tr>
            <th>
              ・<%= comment.comment %>
              <% if comment.user.id == current_user.id %>
                <%= link_to user_my_page_path do  %>
                  <%= comment.user.nickname %>
                  <%= attachment_image_tag comment.user, :icon, :fill,60, 60, fallback: "no_image.jpg", size:'30x30', class: "mt-3 rounded-circle" %>
                <% end %>
              <% else %>
                <%= link_to user_path(comment.user.id) do  %>
                  <%= comment.user.nickname %>
                  <%= attachment_image_tag comment.user, :icon, :fill,60, 60, fallback: "no_image.jpg", size:'30x30', class: "mt-3 rounded-circle" %>
                <% end %>
              <% end %>
              <%= comment.created_at.to_s(:datetime_jp) %>
            </th>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>