<div class="container mt-5">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>アイコン</th>
            <th>ニックネーム</th>
            <th>氏名</th>
            <th>フリガナ</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tbody>
          <th><%= user.id %></th>
          <th><%= attachment_image_tag user, :icon, :fill,60, 60, fallback: "no_image.jpg", size:'30x30', class: "mt-3 rounded-circle" %></th>
          <th><%= link_to user.nickname, admins_user_path(user.id), class: "text-dark" %></th>
          <th><%= user.full_name %></th>
          <th><%= user.full_name_kana %></th>
          <th><%= user.is_active %></th>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>